@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Cormorant',serif;
}

nav{
    width: 100%;
    background-color: navy;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;

}

nav ul li{
    padding: 5px;
    color: #fff;
}

.heading{
    color: #fff;
}

.heading h2{
    font-size: 16px;
}

.mobile-menu{
    display: none;
}

@media (max-width: 800px){
    .mobile-menu{
        display: block;
        cursor: pointer;
    }

    .mobile-menu .ham{
        background-color: white;
        height: 2px;
        width: 28px;
        margin: 8px;
    }
    nav ul{
        display: none;
    }
}